*{padding: 0; margin:0;}
		body{
			font-size: 12px;
			font-family: times new roman, helvetica,sans-serif;
    		background-color:rgb(57, 90, 52);
    		color: white;
    
}
		.fixed{ /* This css for the title and the menu*//*Recommended to use div element in order to make the title and 
				the menu have fixed position*/			
				max-width: 100%;
				height: auto;
			position: fixed;
			top: 0;
		}
		.color_head{/* This is the head of the Web*//*You can use different pictures besides the given picture below*//*Recommended to use 
			div and place it on the top of the website*/
			text-align: center;
			font-size: 70px;
			max-width: 100%;
			height: auto;
			padding: 30px;
			margin-bottom: 0;
			background-image: url('https://images.unsplash.com/photo-1497619168626-9382280835a1?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
			text-transform: uppercase;
			background-size: cover;

		}
		
		.menu{/*This is the menu*//*Recommended to use div and place it below the title of the website*/
			margin-top:0px;
			max-width: 400px;
			text-align: center;
			background-color: black;
		}

		.about {/*This is for the text below the line*//*Recommended to use div */
            
            max-width: 100%;
            height: auto;
            font-size: 15px;
            text-align: center;
        }
		
.counter-fixed/*This css is for the content below the menu and head*/
{
    margin-top:210px;
}

@media screen and (max-width: 1200px){
	.menu {width: 40%;}
}

@media screen and (max-width: 600px){
	.menu {width: 90%;}
}
